{% extends "layout.njk" %} {% block pagina %}
<h1>Alunos Cadastrados</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Sobre Nome</th>
            <th>CPF</th>
            <th>RG</th>
            <th>Orgão Expedidor</th>
            <th>Data de Nascimento</th>
            <th>Email</th>
            <th>Sexo</th>
            <th>Matrícula</th>
        </tr>
    </thead>
    <tbody>
        {% for aluno in alunos %}
        <tr>
            <td>{{aluno.id}}</td>
            <td>{{aluno.nome}}</td>
            <td>{{aluno.sobrenome}}</td>
            
            <td>
                <a href="/edit/{{aluno.id}}" class="btn btn-primary">Editar</a>
                <button class="btn btn-danger" onclick="event.preventDefault();
                document.getElementById('logout-form-{{aluno.id}}').submit();">Excluir</button>
            </td>
            <form id="logout-form-{{aluno.id}}" action="/delete/{{aluno.id}}" method="POST" style="display: visible;">
                <input type="hidden" name="_method" value="DELETE" />
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}